<html>
<head>
<title></title>
<link rel="stylesheet" href="main-styles.css">
</head>
<body>
<header>
<h1>Welcome To Karan's and Dilpreet's Blog</h1>
</header>
<main class="cf">
<div class="newpost">
	<h2>Create a new post</h2>
    <form action="/" method="post" enctype="multipart/form-data" class="addpost">
	  <!-- <fieldset> -->
		<label for="name">Post Name: </label>
	    <input type="text" class="filename" name="filename" >
	    <br>
	    <textarea name="Post" id="" cols="50" rows="10" class="post" placeholder="Enter the content of the post here."></textarea>
	    <br>
	    <input type="submit" value="Create" class="btn">
	  <!-- </fieldset> -->
</form>	
</div>
<ul class="cf">
<h3>Click to open some exciting posts!</h3>